# Supabase Configuration
SUPABASE_URL=https://jkcvwihwitgpxzljlmoh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprY3Z3aWh3aXRncHh6bGpsbW9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2ODkzODcsImV4cCI6MjA4ODI2NTM4N30.l2TYr2m_KgQ3kN2s2fCp6lxRiE7Z6c00rIqr-MWjQgw

# JWT Secret for token generation
JWT_SECRET=79190bbabc8dac1ca29865db184a87380b2e3a7d4947b41fc206b5ceafde79d8d29abee2262554ec05a6c353a6c18744f12121ffa90bdde611ec4f2f25b77821
